html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #f0f0f0; 
}

#sunburst {
    width: 100vw; 
    height: 100vh; 
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}